{% extends "layout.html.twig" %}
{% block titrePage %}
<title>Page de contact </title>
 {% endblock %} 



{% block contenuPage %}

			<h1>Page de Contact</h1>
			<section>
            <form action="">

            </form>
            </section>
	
 {% endblock %} 
